<%= erb :'/questions/_seperator', :layout => false %>


<!-- Question begins here -->

<div class="col-sm-12">
  <div class="row">
    <h2>Jquery problem title goes here</h2>
  </div>
</div>
<!-- Question ends here -->


<div class="col-sm-2">
  <h2><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h2>
  <h2>12</h2>
  <h2><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h2>
  votes
  <h2>3</h2>
  answers
</div>

  <div class="col-sm-10">
  <p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nostrum eligendi, aliquam temporibus quae libero illo molestias repellat. Perspiciatis enim quo inventore velit totam, officia accusamus sequi dolor voluptas blanditiis.
</p>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    asked 1 min ago
    Lara Croft
  </div>
