<h1>Add an Answer</h1>
<form action='/questions/<%= question_id %>/answers' method='POST' >
  <fieldset class="form-group">
    <textarea class="form-control" name="body"></textarea>
  </fieldset>
  <button type='submit' class='btn btn-primary' >Submit Answer</button>
</form>
